.camposForm {
    font-weight: bolder;
    padding: 3px;
    display: block;
}
::placeholder {
    color: rgb(180, 180, 180) !important;
    opacity: 3;
}
 h2 {
     text-align: center;
 }

 #btnActions{
     padding: 20px;
 }

.foto-anuncio {
    max-height: 100px;
    max-width: 100px;
}